#round-btn {
    border-radius: 40px;
    text-transform: none;
}
#userName{
    margin-left: 41%;
}
button.btn-warning{
    border-radius: 40px;
    text-transform: none;
}

button.btn-danger{
    border-radius: 40px;
    text-transform: none;
}